<h1>Hi, your username is <%=@user.username%>!</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h2>Goals: </h2>
<ul>
<% @user.goals.each do |goal| %>
<li><%=link_to goal.title, goal_url(goal)%></li>
<% end %>
</ul>

<%= link_to "Add Goal", new_goal_url %>
<br><br>
